#wrtranslator-translate {
    position: fixed !important;
    z-index: 2147483000 !important; /* http://stackoverflow.com/questions/491052/minimum-and-maximum-value-of-z-index */
}
#wrtranslator-translate a {
    font-size: 14pt !important;
    color: blue !important;
    background-color: white !important;
    display: inline-block !important;
    padding: 20px !important;
    border: 2px solid blue !important;
    opacity: 0.2 !important;
}
#wrtranslator-translate a:hover {
    opacity: 0.4 !important;
}
#wrtranslator-translate a:active {
    opacity: 0.8 !important;
}

